<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Review</title>
</head>

<body>

    <header class="navbar">
        <h3 class="navbar-brand"><code>Code-Review</code></h3>
        <ul class="nav nav-right">
            <li class="nav-item"><a href="/docs" class="nav-link">Docs</a></li>
            <li class="nav-item"><a href="/signin" class="nav-link">Register</a></li>
        </ul>
    </header>
    <main class="container-fluid">
        {{{body}}}
    </main>

</body>

</html>