<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://codemirror.net/lib/codemirror.js"></script>
    <script src="https://codemirror.net/mode/javascript/javascript.js"></script>
    <title>Code Review</title>
</head>

<body>

    <header class="navbar">
        <h3 class="navbar-brand"><code>Code-Review</code></h3>
        <ul class="nav nav-right">
            <li class="nav-item"><a href="/docs" class="nav-link">Docs</a></li>
            {{#if authenticatedUser}}
            <li class="nav-item"><a href="/signout" class="nav-link">Sign Out</a></li>
            <li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
            {{else}}
            <li class="nav-item"><a href="/signin" class="nav-link">Sign In</a></li>
            <li class="nav-item"><a href="/signup" class="nav-link">Register</a></li>
            {{/if}}
        </ul>
    </header>
    <main class="container-fluid">
        {{{body}}}
    </main>

    <script src="/scripts/main.js"></script>
    <script src="/scripts/alerts.js"></script>
</body>

</html>