<center class="text-light my-5 container">
  <h1 class="py-5">Code-Review</h1>
  <h4 class="w-75">
    Providing Developers with the ability to <code>quickly</code> and <code>easily</code> <code>share</code> their
    <code>code</code> with peers for
    efficient <var>code review</var>.
  </h4>
</center>

<center>
  <div class="row py-5 w-75">
    <div class="col-lg">
      <center>
        <code><h5 class="text-primary">With our command line interface:</h5></code>
      </center>
      <img src="/img/CLI_Screenshot.png" class="w-100">
    </div>
    <div class="col-lg">
      <center>
        <code><h5 class="text-primary">With our code-review dashboard:</h5></code>
      </center>
      <img src="/img/API_Screenshot.png" class="w-100">
    </div>
  </div>
</center>