<form action="/signup" method="POST" class="container card px-0">

    <div class="card-header">
        <h3 class="card-title">Register For Code-Review</h3>
    </div>

    <div class="card-body form-group">


    </div>

    <div class="card-footer d-flex">
        <button class="btn btn-primary" type="submit">Register</button>
        <p class="text-muted mx-3 mt-2">Already have an account? <a href="/signin" class="btn btn-link">Sign In</a></p>
    </div>

</form>